.treeview, .treenode {
  list-style: none;
}

.treenode-collapsed {
  display: none;
}

.treenode-arrow {
  margin-right: 6px;
  display: inline-block;
  width: 9px;
  float: left;
}

.treenode-item :nth-child(1) {
  margin-left: 15px;
  background-color: pink;
}
