.treeview, .treenode {
  list-style: none;
}

.treenode-collapsed {
  display: none;
}

.treenode-arrow {
  padding-right: 6px;
  display: inline-block;
  width: 9px;
  float: left;
}

.treenode-item {
  margin-left: 15px;
}

/* float was used for node arrow and item, clear it */
.clearfix {
  clear: both;
}
